.landing-page {
  position: relative;
  align-items: center;
}
.landing-page .section__icons--flex .icon {
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}
.landing-page .section__icons--flex .icon img {
  width: 3rem;
  height: 3rem;
  transition: 0.25s ease;
}
.landing-page .section__icons--flex .icon img:hover {
  transform: scale(1.25);
}
.landing-page .section__icons--flex .icon p {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}
.landing-page .section__temp-convertor--form {
  display: none;
}
.landing-page .section__temp-convertor--form--display-mode {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
}
.landing-page .section__temp-convertor--form--display-mode .section__icon1--header .section__icon1--title {
  background-color: #2479da;
  font-size: 20px;
  padding: 5px;
  color: white;
  margin-bottom: 25px;
}
.landing-page .section__temp-convertor--form--display-mode .section__icon1--header .button__icon1-close--align {
  color: #aaaaaa;
  float: right;
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  top: 0%;
  right: 0%;
}
.landing-page .section__temp-convertor--form--display-mode .section__icon1--header .button__icon1-close--align:hover,
.landing-page .section__temp-convertor--form--display-mode .section__icon1--header .button__icon1-close--align:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: red;
}
.landing-page .section__temp-convertor--form--display-mode .container__temp-convertor-content--flex {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 50vw;
  height: 50vh;
  position: absolute;
  margin-top: 20%;
  align-items: center;
}
.landing-page .section__temp-convertor--form--display-mode .container__temp-convertor-content--flex .section__temp-convertor--align {
  display: grid;
  row-gap: 10px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.landing-page .section__temp-convertor--form--display-mode .container__temp-convertor-content--flex .submit {
  text-align: center;
  margin-bottom: 20px;
}
.landing-page .section__temp-convertor--form--display-mode .container__temp-convertor-content--flex .message {
  text-align: center;
}
.landing-page .section__notepad--form {
  display: none;
}
.landing-page .section__notepad--form--display-mode {
  display: flex;
  justify-content: center;
  z-index: 1;
  border: 1px solid transparent;
  position: absolute;
}
.landing-page .section__notepad--form--display-mode .section__icon2--flex .section__icon2--header {
  display: flex;
  background-color: #2479da;
}
.landing-page .section__notepad--form--display-mode .section__icon2--flex .section__icon2--header .section__icon2--title {
  background-color: #2479da;
  font-size: 23px;
  padding: 5px;
  color: white;
  justify-content: space-between;
}
.landing-page .section__notepad--form--display-mode .section__icon2--flex .section__icon2--header .button__icon2-close--align {
  color: #aaaaaa;
  float: right;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  justify-content: space-between;
  top: 0%;
  right: 0%;
}
.landing-page .section__notepad--form--display-mode .section__icon2--flex .section__icon2--header .button__icon2-close--align:hover,
.landing-page .section__notepad--form--display-mode .section__icon2--flex .section__icon2--header .button__icon2-close--align:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: red;
}
.landing-page .section__notepad--form--display-mode .section__icon2--flex .section__textarea--grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 50vw;
  height: 50vh;
}
.landing-page .section__image-resizer--form {
  display: none;
}
.landing-page .section__image-resizer--form--display-mode {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.landing-page .section__image-resizer--form--display-mode .section__icon3--title {
  background-color: #2479da;
  font-size: 20px;
  padding: 5px;
  color: white;
  margin-bottom: 25px;
}
.landing-page .section__image-resizer--form--display-mode .button__icon3-close--align {
  color: #aaaaaa;
  float: right;
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  top: 0%;
  right: 0%;
}
.landing-page .section__image-resizer--form--display-mode .button__icon3-close--align:hover,
.landing-page .section__image-resizer--form--display-mode .button__icon3-close--align:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: red;
}
.landing-page .section__image-resizer--form--display-mode .section__image-resizer--flex {
  background-color: #fefefe;
  width: 50vw;
  height: 50vh;
  position: absolute;
  margin-top: 20%;
  overflow: auto;
}
.landing-page .section__image-resizer--form--display-mode .section__image-resizer--flex .resizer {
  font-family: sans-serif;
  font-weight: bold;
  padding: 20px;
  width: 500px;
}
.landing-page .section__image-resizer--form--display-mode .section__image-resizer--flex .resizer__file {
  margin-left: 40%;
}
.landing-page .section__image-resizer--form--display-mode .section__image-resizer--flex .dimensions {
  text-align: center;
  padding: 20px 0;
}
.landing-page .section__image-resizer--form--display-mode .section__image-resizer--flex .resizer__input {
  width: 75px;
  padding: 5px;
}
.landing-page .section__image-resizer--form--display-mode .section__image-resizer--flex .resizer__canvas {
  max-width: 100%;
}/*# sourceMappingURL=icon-styles.css.map */