.landing-page {
  position: relative;
  .section__icons--flex {
    .icon {
      display: flex;
      flex-direction: column;
      margin: 10px;
      cursor: pointer;
    }

    .icon img {
      width: 3rem;
      height: 3rem;
      transition: 0.25s ease;
      &:hover {
        transform: scale(1.25);
      }
    }

    .icon p {
      font-size: 15px;
      font-weight: bold;
      margin: 0;
      padding: 10px 0;
    }
  }

  //Styles for Temperature Convertor
  .section__temp-convertor--form {
    display: none;

    &--display-mode {
      //position: absolute;
      display: flex;
      flex-direction: column;
      z-index: 1;
      justify-content: center;
      align-items: center;

      .section__icon1--header {
        .section__icon1--title {
          background-color: #2479da;
          font-size: 20px;
          padding: 5px;
          color: white;
          margin-bottom: 25px;
        }
        .button__icon1-close--align {
          color: #aaaaaa;
          float: right;
          font-size: 23px;
          font-weight: bold;
          position: absolute;
          top: 0%;
          right: 0%;
        }
        .button__icon1-close--align:hover,
        .button__icon1-close--align:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
          background-color: red;
        }
      }
      .container__temp-convertor-content--flex {
        background-color: #fefefe;
        border: 1px solid #888;
        width: 50vw;
        height: 50vh;
        position: absolute;
        margin-top: 20%;
        align-items: center;

        .section__temp-convertor--align {
          display: grid;
          row-gap: 10px;
          padding: 10px;
          border: 1px solid transparent;
          border-radius: 10px;
        }
        .submit {
          text-align: center;
          margin-bottom: 20px;
        }
        .message {
          text-align: center;
        }
      }
    }
  }
  //Styles for notepad
  .section__notepad--form {
    display: none;

    &--display-mode {
      position: absolute;
      margin-left: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 1;
      border: 1px solid transparent;

      .section__icon2--flex {
      .section__icon2--header {
          display: flex;
          background-color: #2479da;

          .section__icon2--title {
            background-color: #2479da;
            font-size: 23px;
            padding: 5px;
            color: white;
            justify-content: space-between;
          }

          .button__icon2-close--align {
            color: #aaaaaa;
            float: right;
            font-size: 26px;
            font-weight: bold;
            position: absolute;
            justify-content: space-between;
            top: 0%;
            right: 0%;
          }
          .button__icon2-close--align:hover,
          .button__icon2-close--align:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            background-color: red;
          }
        }
        .section__textarea--grid {
          display: grid;
          grid-template-columns: 1fr;
          width: 50vw;
          height: 50vh;
        }
      }
    }
  }
  //Styles for Image Resizer

  .section__image-resizer--form {
    display: none;

    &--display-mode {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1;

      .section__icon3--title {
        background-color: #2479da;
        font-size: 20px;
        padding: 5px;
        color: white;
        margin-bottom: 25px;
      }
      .button__icon3-close--align {
        color: #aaaaaa;
        float: right;
        font-size: 23px;
        font-weight: bold;
        position: absolute;
        top: 0%;
        right: 0%;
      }
      .button__icon3-close--align:hover,
      .button__icon3-close--align:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        background-color: red;
      }

      .section__image-resizer--flex {
        background-color: #fefefe;
        width: 50vw;
        height: 50vh;
        position: absolute;
        margin-top: 20%;
        overflow: auto;

        .resizer {
          font-family: sans-serif;
          font-weight: bold;
          padding: 20px;
          width: 500px;
        }
        .resizer__file {
          margin-left: 40%;
        }

        .dimensions {
          text-align: center;
          padding: 20px 0;
        }

        .resizer__input {
          width: 75px;
          padding: 5px;
        }

        .resizer__canvas {
          max-width: 100%;
        }
      }
    }
  }
}
